@import './helpers';
@import './reset';
@import './page';

body {
    color: $color-text;
    background: $color-background;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
